<div class="xim-container">
    <div class="xim-card">
        <div class="xim-card-header">
            <div class="xim-card-header-titulo">
                Hola Mundo
            </div>
            <div class="xim-card-header-sub-title">
                Bajada del titulo, es un texto explicativo del título
            </div>
        </div>
        <div class="xim-card-body">
            <div class="xim-row">
                <div class="xim-col-6 xim-al-center">
                    <app-input
                        [titulo]="label"
                        [nombre]="name"></app-input>
                </div>
                <div class="xim-col-6 xim-al-center">
                    <app-select></app-select>
                </div>
            </div>
        </div>
    </div>
</div>