// src/assets/estilos/variables/_xim-variable.scss

$data-base-col: 8.333%;
$grid-gutter-width:30px !default;

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;